@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


body{
    width: 100%;
    background-image: url(./sky2.jpg);
    font-family: 'New Tegomin', serif;
}

.list{
    margin: 0 auto;
}

.form-input{
    border: none;
    max-width: 100px;
    
}

.header{
        background-color: rgba(255,255,255,0.5);;
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 85% 85% / 30%;
        color: black;
        margin-bottom: 50px;
    
}
.search-column{
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    color: white;
    display: block;
}

.btn{
    margin-left: 0 auto;
    background-color: red;
    border: none;
}
.btn:hover{
    transform: scale(1.1);
    background-color: red;

}

.list-group-item{
    line-height: 1.5;
    border: none;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255,255,255,0.5);
    color: black;

}

#searched-city{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: center;
    text-transform: uppercase;
    padding: 50px;
}

#forecast{
    text-align: center;
    padding: 50px;
}




span.severe{
    padding: 3px;
    background-color: red;
    color:black;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
    color: black;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:black;
}

.row{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-basis: auto;
      max-width: 400px;
    }
    .btn{
        margin-top: 20px;
    }
    .form-city{
        margin-left: 0;
    }
    .header{
        display: flex;
        width: 100%;
    }
    .form-input{
        border: none;
        max-width: 110px;
  }
}